<!DOCTYPE html>
<html>
  <head>
    <title>InventoryManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <%= link_to 'Home', root_url %>
    <%= link_to 'New Product', new_product_path %>
    <%= link_to 'New Warehouse', new_warehouse_path %>
    <%= yield %>
  </body>
</html>
